<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>로그인 결과</h1>
    <hr>
    <% 
        var user = docs[0];
    %>
    이름 : <%=user.name%><br>
    아이디 : <%=user.id%><br>
    <hr>
    <a href="/process/logout">로그아웃</a>
</body>
</html>