<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>상품 정보 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>상품 정보 페이지</h1>
    <hr>
    <h2>로그인 후에 보여지는 페이지</h2>
    <p>User 정보 : <%=user.name%> </p>
    <input type="button" onclick="location.href='/process/logout'" value="로그아웃">
</body>
</html>