<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카 디테일</title>
</head>
<body>
        <h2>차목록</h2>
        <hr>
        <p><%=car.name %></p>
        <p><%=car.price %></p>
        <p><%=car.company %></p>
        <p><%=car.year %></p>
</body>
</html>