<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 오케이</title>
</head>
<body>
    <h1>로그인 결과</h1>    
    <hr>
    
    사용자 이름 : <%= user.name%><br>
    사용자 아이디 : <%= user.id%><br>
    <hr>
    <a href="/process/logout">로그아웃</a>
</body>
</html>